.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top : 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding-top : 20px;
    margin-bottom: 10vh;
}

.header__icon {
    object-fit: contain;
    height: 50px;
    margin-left: 20px;
}

.header__center {
    display : flex;
    align-items: center;
    flex : 1; 
    max-width: fit-content;
    height: 30px;
    padding: 10px;
    border : 1px solid lightgray;
    border-radius: 999px;
}

.header__center  > input {
    border: 0;
    width: 250px;
    outline: none;
}

.header__right {
    display : flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right : 80px
}